<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="angularjsnodejstutorial">
<!--<![endif]-->

<head>
  <!-- BASICS -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="javascripts/app.js" type="text/javascript"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/isotope.css" media="screen" />
  <link rel="stylesheet" href="http://localhost:8080/css/bootstrap.css">
  <link rel="stylesheet" href="http://localhost:8080/css/bootstrap-theme.css">
  <link rel="stylesheet" href="http://localhost:8080/css/style.css">
  <link rel="stylesheet" href="http://localhost:8080/css/style2.css">
  <!-- skin -->
  <link rel="stylesheet" href="http://localhost:8080/skin/default.css">
</head>

<body ng-controller="mycontroller">
  <section id="header" class="appear"></section>
  <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bars color-white"></span>
          </button>
        <h2 class="slogan" style="color:white"></h2>
        <ul class="section-heading animated">
        <h2 class="active"><a href="index.html" style="color:white;text-shadow: black 0.1em 0.1em 0.2em">Time Square</h2>
      </ul>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
          <li class="active"><a href="/" style="color:white;text-shadow: black 0.1em 0.1em 0.2em">Home</a></li>
          <li class="active"><a style="cursor: pointer;" ng-click="initSearch($event)" style="color:white;text-shadow: black 0.1em 0.1em 0.2em">search</a></li>
          <li><a href="#section-about" style="color:white;text-shadow: black 0.1em 0.1em 0.2em">Team</a></li>
          <li><a href="#section-works" style="color:white;text-shadow: black 0.1em 0.1em 0.2em">Profolio</a></li>
          <li><a href="#section-contact" style="color:white;text-shadow: black 0.1em 0.1em 0.2em">Contact</a></li>
          <li><a href="#section-map" style="color:white;text-shadow: black 0.1em 0.1em 0.2em">Map</a></li>
          <li><a href="#footer" style="color:white;text-shadow: black 0.1em 0.1em 0.2em">Sign In</a></li>
</ul>
      </div>

      <!--/.navbar-collapse -->
    </div>
  </div>
  <style media="screen">
    .searchMode {
      z-index: 9;
      background-color: black;
      height: -webkit-fill-available;
      width: -webkit-fill-available;
      position: fixed;
    }
  </style>
<div ng-hide="!searchMode" class="searchMode"></div>
  <section  class="featured" style="background-image: url(http://localhost:8080/img/parallax/back3.jpg);">
    <div class="container">
      <div class="row mar-bot40">
        <style media="screen">
          .search-container {
            z-index: 9;
          }
        </style>
        <div id="search-container" class="search-container col-md-6 col-md-offset-3">
          <div class="align-center">
            <i class="fa fa-flask fa-5x mar-bot20"></i>
            <h2 class="slogan" style="color:white;text-shadow: black 0.1em 0.1em 0.2em">Welcome to Time Square</h2>
            <h3 class="slogan" style="color:white;text-shadow: black 0.1em 0.1em 0.2em">
              This is Time Square Travel Guide. {{message}} You can find most popular resturants, hotels, entertainments and signages near Time Square.
            </h3>
  <div ng-hide="!searchMode">
        <input name="email" ng-model="email" value="eg. hilton, starbuck" style="color:black">
        <button type="button" ng-click="Submit()" class="active" style="color:black">Search</button>
          <style>
          table, th, td {
              border: 1px solid black;
              z-index: 11;
              color: white;
              background: gray;
              margin-left: -220px;
          }
        </style>
        <table ng-hide="!showData">
          <tr>
            <th>Id</th>
          <th>Onstreet</th>
          <th>CrossStreet</th>
          <th>PedestrianInjured</th>
          <th>PedestrianKilled</th>
          <th>CyclistInjured</th>
          <th>CyclistKilled</th>
          <th>MotoristInjured</th>
          <th>MotoristKilled</th>
        </tr>
        <tr ng-repeat="data in dataset track by $index">
          <td ng-repeat="entry in data track by $index">{{entry}}</td>
        </tr>
        </table>
        <p ng-hide="!nodata">No Entry Found Matching The Above Street, Try Again..</p>
        <li class="active"><a href="dataviews.html" style="color:white;text-shadow: black 0.1em 0.1em 0.2em">Home</a></li>
        </div>
      </div>
    </div>
  </section>



    <section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">
        <div class="row align-center mar-bot40">
        <div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo">
			<a href="/food">
			<img src="http://localhost:8080/img/parallax/index1.jpg" alt="Norway" width="250" height="250"/>
      <div class="centered" style="color:black">Food</div>
      </a>

			</figure>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo">
			<a href="/hotel">
			<img src="http://localhost:8080/img/parallax/index2.jpg" alt="Norway" width="250" height="250">
      <div class="centered" style="color:black">Hotel</div>
			</a>
			</figure>

          </div>
        </div>
        <div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><a href="/entertainment">
			<img src="http://localhost:8080/img/parallax/index3.jpg" alt="" width="250" height="250"/>
      <div class="centered" style="color:black">Entertainment</div>
			</a></figure>

          </div>
        </div>
        <div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><a href="/signage">
			<img src="http://localhost:8080/img/parallax/index4.jpg" alt="" width="250" height="250"/>
      <div class="centered" style="color:black">Signages</div>
    </a></figure>

          </div>
        </div>
      </div>
      </div>
	    </section>

  <!-- spacer section:testimonial -->


  <!-- /about -->

  <!-- spacer section:stats -->
  <!-- <section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="align-center pad-top40 pad-bot40">
        <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
        <p class="color-white">Bootstraptaste</p>
      </div>
    </div>
  </section> -->

  <!-- section works -->
  <section id="section-works" class="section appear clearfix">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Portfolio</h2>
            <p>Here is all the pictures of Time Square</p>
          </div>
        </div>
      </div>

      <div class="row">
        <nav id="filter" class="col-md-12 text-center">
          <ul>
            <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
            <li><a href="#" class="btn-theme btn-small" data-filter=".webdesign">Food</a></li>
            <li><a href="#" class="btn-theme btn-small" data-filter=".photography">Hotel</a></li>
            <li><a href="#" class="btn-theme btn-small" data-filter=".print">Entertainment</a></li>
            <li><a href="#" class="btn-theme btn-small" data-filter=".print">Signage</a></li>
          </ul>
        </nav>
        <div class="col-md-12">
          <div class="row">
            <div class="portfolio-items isotopeWrapper clearfix" id="3">

              <article class="col-md-4 isotopeItem webdesign">
                <div class="portfolio-item">
                  <img src="http://localhost:8080/img/portfolio/img1.jpg" alt="" />
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="http://localhost:8080/img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                  <img src="http://localhost:8080/img/portfolio/img2.jpg" alt="" />
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="http://localhost:8080/img/portfolio/img2.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>


              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                  <img src="http://localhost:8080/img/portfolio/img3.jpg" alt="" />
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="http://localhost:8080/img/portfolio/img3.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem print">
                <div class="portfolio-item">
                  <img src="http://localhost:8080/img/portfolio/img4.jpg" alt="" />
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="http://localhost:8080/img/portfolio/img4.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                  <img src="http://localhost:8080/img/portfolio/img5.jpg" alt="" />
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="http://localhost:8080/img/portfolio/img5.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem webdesign">
                <div class="portfolio-item">
                  <img src="http://localhost:8080/img/portfolio/img6.jpg" alt="" />
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="http://localhost:8080/img/portfolio/img6.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem print">
                <div class="portfolio-item">
                  <img src="http://localhost:8080/img/portfolio/img7.jpg" alt="" />
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="http://localhost:8080/img/portfolio/img7.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                  <img src="http://localhost:8080/img/portfolio/img8.jpg" alt="" />
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="http://localhost:8080/img/portfolio/img8.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem print">
                <div class="portfolio-item">
                  <img src="http://localhost:8080/img/portfolio/img9.jpg" alt="" />
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="http://localhost:8080/img/portfolio/img9.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>
            </div>

          </div>


        </div>
      </div>

    </div>
  </section>
  <!-- <section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
    <div class="align-center pad-top40 pad-bot40">
      <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
      <p class="color-white">Bootstraptaste</p>
    </div>
  </section> -->

  <!-- about -->
  <section id="section-about" class="section appear clearfix">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>
            <!-- <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p> -->
          </div>
        </div>
      </div>

      <div class="row align-center mar-bot40">
        <div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="public/img/team/member1.jpg" alt="" /></figure>
            <div class="team-detail">
              <h4>Danmeng Chen</h4>
              <span>Web Designer/Web Developer</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="public/img/team/member2.jpg" alt="" /></figure>
            <div class="team-detail">
              <h4>Zhuoyu Ding</h4>
              <span>Web developer/Database developer</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="public/img/team/member3.jpg" alt="" /></figure>
            <div class="team-detail">
              <h4>Chuqi He</h4>
              <span>Database developer/Data Engineer</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="public/img/team/member4.jpg" alt="" /></figure>
            <div class="team-detail">
              <h4>Jiachen Wang</h4>
              <span>Web Developer</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- contact -->
  <section id="section-contact" class="section appear clearfix">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
            <p>If you have any questions about Time Square. Please Contact us! </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="cform" id="contact-form">
            <div id="sendmessage">
              Your message has been sent. Thank you!
            </div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <label for="email">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validation"></div>
              </div>

              <button type="submit" class="btn btn-theme pull-left">SEND MESSAGE</button>
            </form>

          </div>
        </div>
        <!-- ./span12 -->
      </div>

    </div>
  </section>
  <!-- map -->
  <!-- <section id="section-map" class="clearfix">
    <div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704"></div>
  </section> -->
<section id="section-map" class="section appear clearfix">
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Google Map</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 40.7589, lng: -73.9851};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXIlchvZw-bgfDtAzSoE5t1dPsMN-y_fk&callback=initMap">
    </script>
  </body>
</section>


  <section id="footer" class="section footer">
    <div class="container">
      <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
        <div class="col-sm-12 align-center">
          <ul class="social-network social-circle">
            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="row align-center copyright">
        <div class="col-sm-12">

          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Amoeba
            -->

          </div>
        </div>
      </div>
    </div>

  </section>
  <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>


</body>

</html>
